<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621917881108-vfa9d13r7qmuncfi8ui5d8kqa2ql57mq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621917881108-vfa9d13r7qmuncfi8ui5d8kqa2ql57mq</string>
	<key>API_KEY</key>
	<string>AIzaSyDuRtgPAcFUcLNNIOHFTVEhGUForl7OR84</string>
	<key>GCM_SENDER_ID</key>
	<string>621917881108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authApp</string>
	<key>PROJECT_ID</key>
	<string>authentication-f2b25</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-f2b25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621917881108:ios:0debd0da1c5792b254f801</string>
</dict>
</plist>